<div class="jumbotron">
    <div class="container">
        <h1>Benvenuti in OpenData Dashboard</h1>
        <h2>Il portale per visualizzare i dati trentini</h2>
        <ul>
            <p>Seleziona i tuoi grafici uno ad uno, filtra i dati e salva il codice della tua Dashboard</p>
            <a class="btn btn-primary btn-lg" href="/create_dashboard" role="button">Crea la tua dahboard</a>
        </ul>
        <ul>
            <p>Usa un codice e carica la dashboard</p>
            <a class="btn btn-primary btn-lg" href="/view_dashboard" role="button">Carica una dashboard</a>
        </ul>
        <ul>
            <p>Oppure usa il menù per visualizzare i grafici di un singolo dato, i dati realtime e le mappe!</p>
            <p>Buona visione!</p>
        </ul>
    </div>
</div>